@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}
